@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sriracha&display=swap');

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: "Roboto Mono", sans-serif ;
}

h1 {
   margin: 10px auto;
   text-align: center;
   color: red;
   font-family: "Roboto Mono", sans-serif;
}

p {
   margin: 10px 10px;
   padding: 10px;
   background-color: rgb(204, 206, 209);
   border-radius: 10px;
}

p span {
   display: block;
   color: green;
   font-weight: bold;
}

img {
   display: block;
   max-width: 100%;
}

.instructions {
   margin: 10px 10px;
   padding: 10px;
   background-color: rgb(216, 241, 165);
   border-radius: 10px;
}

.instructions ol {
   margin-left: 30px;
}

.instructions li {
   margin-top: 10px;
}

.instructions code {
   background-color: white;
   font-size: 80%;
   border-radius: 4px;
   font-weight: bold;
   color: red;

}