@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sriracha&display=swap');

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: "Roboto Mono", sans-serif ;
}

h1 {
   margin: 10px auto;
   text-align: center;
   color: red;
   font-family: "Roboto Mono", sans-serif;
}

details {
   transition: all 0.2s;
}

img {
   display: block;
   max-width: 100%;
}

pre.prettyprint {
   font-size: 80%;
   overflow: auto;
   max-width: 100%;
   margin-left: 20px;
   margin-right: 20px;
}